html
    head
        title Exibindo Json/Array
        style. 
            .exemplo{
                color: #0022ff;
            }

body
    each carro, i in carros
        p.exemplo #{carros[i].nome} #{carros[i].ano}

    

